
Magic MooShrooms/release/*
Magic MooShrooms/WGDGameJam/WGDGameJam/bin/*
Magic MooShrooms/WGDGameJam/WGDGameJam/obj/*
Magic MooShrooms/WGDGameJam/WGDGameJam/WGDGameJam.csproj.user
Magic MooShrooms/WGDGameJam/WGDGameJamContent/obj/*