
Magic MooShrooms/release/*
Magic MooShrooms/WGDGameJam/WGDGameJam/bin/*
Magic MooShrooms/WGDGameJam/WGDGameJam/obj/*
Magic MooShrooms/WGDGameJam/WGDGameJam/WGDGameJam.csproj.user
Magic MooShrooms/WGDGameJam/WGDGameJamContent/obj/*
CowShooter/CowShooter/CowShooter/CowShooterContent/obj/*
CowShooter/CowShooter/CowShooter/CowShooter/obj/*
CowShooter/CowShooter/CowShooter/CowShooter/CowShooter.csproj.user
CowShooter/CowShooter/CowShooter.suo
CowShooter/CowShooter/CowShooter/CowShooter/bin/*